body {
  background-color:aliceblue;
}


/********section 1**********/

.section 1>h1 {
  text-align: center;
  margin: 0 auto;
}


/**********section2***************/

.well {
  margin-left: 100px;
  box-shadow: 10px 10px 5px#888888;
}
.play{
    border: 0solid;
    box-shadow: 10px 10px 5px #888888;
    background-color:chartreuse;
}

.panel {
  margin: 100px;
}

.well>h2 {
  text-align: center;
}


/**********section3**********/

.section-3 {
  background-color: turquoise;
}
